.todo {
  margin: 1rem 1rem 1rem 0;
}

.todoInnerText {
  font-weight: 700;
  width: 85%;
  overflow: hidden;
}

.white {
  background-color: #f9faff;
  border-bottom: 0.5px solid black;
}

.todo {
  position: relative;
  min-height: 7rem;
  height: auto;
}

.todoDelete {
  /* background-image: url(https://i.imgur.com/z4KpjzC.png); */
  width: 1.2rem;
  /* height: 1rem; */
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 1rem;
  cursor: pointer;
  /* background-color: rebeccapurple;
  color: black; */
}

.todoDelete:hover {
  background-image: url("https://i.imgur.com/RhRzGrr.png");
  /* background-color: rgb(157, 186, 233);
  border-radius: 50px; */
}

/* .aligner {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.todoText {
  margin-top: 3rem;
  padding-left: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
