.nav {
  background-color: rgb(150, 187, 64);
  width: 100%;
  height: 60px;
}

.navUl {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.navUl li {
  float: left;
  height: 60px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0;
  margin: 0;
}

.navUl li a {
  display: block;
  padding: 1rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.navUl li a:hover {
  padding: 1rem;
  cursor: pointer;
  animation-name: aHover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes aHover {
  from {
    background-color: none;
  }
  to {
    background-color: white;
  }
}
