@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}


.through {
    text-decoration: line-through;
}

.hide {
    display: none;
}

ul{
    padding: 0;
    margin: 0;
}

/*Container*/
.container{
    margin: auto;
    font-size: 10px;
    padding: 3px;
    width: 1000px
}

.content1{
    width: 70%;
    float: right;
}

.content2{
    display: block;
    float: left;
    width: 30%;
}

/* Style the list items */
ul li {
    cursor: pointer;
    padding: 15px;
    /*background: skyblue;*/
    font-size: 18px;
    transition: 0.2s;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border-radius: 50px;*/
    border-bottom: 1px solid gray;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 50px;
  }

/*Make odd numbered lists a different background colour*/
/* #ul li:nth-child(odd) {
    background-color: #f4f8ff;
} */

/*on hover of list*/
ul li:hover {
    background-color:rgb(210, 209, 255);
}

/*styling the x button*/
.xButton{
    cursor: pointer;
    position: relative;
    right: 0;
    float: right;
    padding: 15px;
    transform: translateY(-15.1px);
}

.xButton:hover{
    background-color: azure;
}

.data{
    width: 100%;
    height: 100px;
    margin-top: 3%;
}

#input{
    float: left;
    width: 100%;
    padding: 13px;
    margin: 0;
    border: none;
    text-decoration: none;
    background: #f4f8ff;
    top: 0;
    border-radius: 50px;
    outline: none
}

.btns{
    float: left;
    width: 45%;
    margin: auto;
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding: 13px;
    top: 0;
    right: 0;
    border-radius: 50px;
    outline: none;
    margin: 5px;
}

.bothBtns{
    display: flex;
    margin: auto;
    width: 500px;
}

/*Colour choosing*/
.colour{
    margin-top: 60px;
    width: 100%;
    margin-bottom: 25px;
    height: 50px;
    margin: auto;
}

.colour h4 {
    font-weight: 300;
    display: inline;
    position: relative;
    top: -5px;
    left: 10px;
    float: left;
    margin-right: 15px;
    font-size: 15px;
}

.column1{
    float: left;
    width: 20%;
    height: 50px;
    margin: 10px 10px 10px 0px;
    text-align: center;
}

.column{
    float: left;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 10px;
    border-radius: 100%;
    border-style: none;
    outline: none;
}

.column:hover{
    border-style: solid;
    border-color: black;
}

.column:focus{
    border-style: solid;
    cursor: pointer;
    border-color: black;
}

.column:target{
    border-style: solid;
    cursor: pointer;
    border-color: black;
}


.in2{
    background-color:yellowgreen;
}

.in3{
    background-color: red;
}

.in4 {
    background-color: rgb(184, 132, 168);
}

.in5{
    background-color: burlywood;
}

.allColumns{
    opacity: 0.3;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
}

/* --------Adding class for background--------- */
.yellowgreen{
    background-color:rgba(165, 201, 71, 0.1);
}

.red{
    background-color: rgba(235, 51, 30, 0.1);
}

.pink{
    background-color: rgba(184, 132, 168, 0.1);
}

.burlywood{
    background-color: rgba(216, 184, 139, 0.1);
}


/*-------Weather API-------*/
.weather{
    margin: 20px 20px 20px 0;
    position: relative;
    background-color: #f4f8ff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.maxMin h3{
    display: inline;
}

/*------------Date and Time-------------*/
.dateTime{
    margin: 20px 20px 20px 0;
    position: relative;
    background-color: #f4f8ff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 200px;
}
/*------------Date and Time END-------------*/

/*------------Image Banner-------------*/
.topImage{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.topImageText{
    width: 100%;
    height: 20px;
    background-color: #f4f8ff;
}

.imgDesc{
    margin: auto;
    font-size: 10px;
    padding: 3px;
    width: 1000px;
    display: inline;
}
/*------------Image Banner END-------------*/

/*-----------Counter-------------*/
.liCounter{
    text-align: center;
}

/* .increment{
    font-size: 30px;
    cursor: pointer;
    position: relative;
    top: -56px;
    right: 0;
    float: right;
    padding: 7px;
    transform: translateY(-5px); 
} */

.increment{
    font-size: 30px;
    cursor: pointer;
    position: relative;
    top: 27px;
    left: 0;
    float: left;
    padding: 7px;
    transform: translateY(-5px);
}

.decrement{
    font-size: 30px;
    cursor: pointer;
    position: relative;
    top: 27px;
    left: 0;
    float: left;
    padding: 7px;
    transform: translateY(-5px);
}

.decrement:hover{
    background-color: azure;
}

.increment:hover{
    background-color: azure;
}


/*-------------Coounter and Todo alignment--------------*/
.counter{
    width: 45%;
    float: left;
    margin-right: 3px;
    position: relative;
    top: -9px;
}

.todos{
    width: 45%;
    float: right;
    margin-left: 3px;
}