@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*-------------------------------------------------------Global Styling-------------------------------------------------------*/
.container {
  max-width: 960px;
  margin: auto;
  /* position: relative; */
}

.sideBox {
  /* background-color: rgba(150, 187, 64, 0.7); */
  /* background-color: #8ed081; */
  background-color: #b4d2ba;
  display: flex;
  flex-direction: column;
  width: 27%;
  text-align: center;
  border-radius: 1rem;
}

.complete {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
}

.opacity {
  opacity: 0.5;
}

.opacityGarbage {
  opacity: 0.9;
}

.navContainer {
  position: relative;
}

/*-------------Colour Choosing---------------*/
.colour {
  width: 100%;
  min-height: 10px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.colour h4 {
  font-weight: 300;
  display: inline;
  position: relative;
  top: -5px;
  left: 10px;
  float: left;
  margin-right: 15px;
  font-size: 15px;
  margin-bottom: 0;
}

.column1 {
  float: left;
  width: 20%;
  height: 50px;
  margin: 10px 10px 10px 0px;
  text-align: center;
}

.column {
  float: left;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 10px;
  border-radius: 100%;
  border-style: none;
  outline: none;
}

@media screen and (max-width: 600px) {
  .column {
    width: 17px;
    height: 17px;
    margin: 17px 3px 17px 3px;
  }
}

.column:hover {
  border-style: solid;
  border-color: black;
}

.column:focus {
  border-style: solid;
  cursor: pointer;
  border-color: black;
}

.column:target {
  border-style: solid;
  cursor: pointer;
  border-color: black;
}

.in2 {
  background-color: yellowgreen;
}

.in3 {
  background-color: red;
}

.in4 {
  background-color: rgb(184, 132, 168);
}

.in5 {
  background-color: burlywood;
}

.in6 {
  background-color: blue;
}

.allColumns {
  opacity: 0.3;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0;
}

/*-----------------Background colours - TODO, COUNTERS, NOTES-------------------*/
.white {
  background-color: #f9faff;
  border-bottom: 0.5px solid black;
}

.green {
  background-color: rgba(0, 128, 0, 0.2);
  border-bottom: 0.5px solid black;
}

.red {
  background-color: rgba(255, 0, 0, 0.2);
  border-bottom: 0.5px solid black;
}

.purple {
  background-color: rgba(128, 0, 128, 0.2);
  border-bottom: 0.5px solid black;
}

.peach {
  background-color: rgba(222, 184, 135, 0.2);
  border-bottom: 0.5px solid black;
}

.blue {
  background-color: rgba(0, 0, 255, 0.2);
  border-bottom: 0.5px solid black;
}

/*-----------------Styling colour options - OLD-------------------*/
/* .redButton {
  background: rgb(255, 0, 0);
  cursor: pointer;
  border-top: solid 2px #eaeaea;
  border-left: solid 2px #eaeaea;
  border-bottom: solid 2px #777;
  border-right: solid 2px #777;
  padding: 5px 5px;
}

.redButtonDown {
  background: rgb(255, 0, 0);
  border-top: solid 2px #777;
  border-left: solid 2px #777;
  border-bottom: solid 2px rgb(194, 0, 0);
  border-right: solid 2px rgb(194, 0, 0);
} */

.hide {
  display: none;
}
