.nav {
  background-color: rgb(150, 187, 64);
  width: 100%;
  min-height: 60px;
}

.navUl {
  margin: 0;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}

.navUl .icon {
  padding: 1rem;
}

.navUl .icon:hover {
  padding: 1rem;
  cursor: pointer;
  animation-name: aHover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.navUl li {
  float: left;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.navUl li span {
  display: block;
  padding: 1rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.navUl li span:hover {
  padding: 1rem;
  cursor: pointer;
  animation-name: aHover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes aHover {
  from {
    background-color: none;
  }
  to {
    background-color: white;
  }
}

.linkRouter {
  text-decoration: none;
  color: black;
}

.navUl .icon {
  display: none;
  background: none;
  border: none;
  outline-style: none;
}

/*-------------user image styling---------------*/
.authUserImage {
  width: 3rem;
  border-radius: 100%;
  position: absolute;
  right: 0;
}

/*-------------burger responsive styling---------------*/
@media screen and (max-width: 600px) {
  .navUl li:not(:first-child) {
    display: none;
  }
  .navUl .icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navUl.responsive {
    position: relative;
  }
  .navUl.responsive .icon {
    position: absolute;
  }
  .navUl.responsive li {
    text-align: center;
    float: none;
    display: block;
  }
  .authUserImage {
    width: 3rem;
    border-radius: 100%;
    position: relative;
    /* position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%); */
  }
}
